/* Custom fonts */
@font-face {
	font-family: 'Coolvetica';
	src: url('~/assets/fonts/Coolvetica.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'CascadiaCode';
	src: url('~/assets/fonts/CascadiaCode.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
}

html {
	font-family: 'Coolvetica', system-ui, sans-serif;
	overflow-x: hidden;
	overscroll-behavior: none;
}
